<!DOCTYPE html>
<html lang="en" ng-app="ecampus" ng-controller="AppController" class="overflow-y-scroll">
<head id="headerSection">
    <base href="/ecampus/">
    <style>
        #pageloader {
            background-color: #fff;
            position: fixed;
            z-index: 99999;
            width: 100%;
            height: 100%;
        }

        .img-size {
            height: 198px;
            left: 43%;
            position: absolute;
            top: 39%;
        }

        .dropdown-toggle:hover {
            color: #1a9982;
        }

        a:focus, a:hover {
            color: #1a9982;
        }

        .sidebar {
            float: left;
            width: 200px;
            color: #ffbdbd;
        }

        .container {
            margin: 0 auto;
        }

        .sidebar .sidebar__inner {
            padding: 10px;
            position: relative;
            transform: translate(0, 0);
            transform: translate3d(0, 0, 0);
            will-change: position, transform;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ecampus">
    <meta name="author" content="qualwebs">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta property="og:title" content="ecampus"/>
    <meta property="og:url" content="https://54.213.176.4/ecampus"/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="1897274863858775"/>
    <meta property="og:image" content=""/>
    <meta property="og:description" content="ecampus"/>
    <title ng-if="$root.currentState | hasState:'login'" ng-bind="$root.siteTitle"></title>
    <title ng-if="$root.currentState | hasStateRestrict:'index.home.user-profile'"
           ng-bind="$root.siteTitle + ' - ' + $root.userFullName"></title>
    <title ng-if="userProfileData.firstName && ($root.currentState | hasState:'index.home')"
           ng-bind="$root.siteTitle + ' - ' + userProfileData.firstName + ' ' + userProfileData.lastName"></title>
    <title ng-if="$root.currentState | hasState:'index.time-table'" ng-bind="$root.siteTitle + '- Time Table'"></title>
    <title ng-if="$root.currentState | hasState:'index.attendance'" ng-bind="$root.siteTitle + '- Attendance'"></title>
    <title ng-if="$root.currentState | hasState:'index.mentorship'" ng-bind="$root.siteTitle + '- Mentorship'"></title>
    <title ng-if="$root.currentState | hasState:'index.feedback'" ng-bind="$root.siteTitle + '- Feedback'"></title>
    <title ng-if="$root.currentState | hasStateRestrict:'index.home.training-placement'"
           ng-bind="$root.siteTitle + ' - T&P'"></title>
    <title ng-if="($root.currentState | hasStateRestrict:'index.messages.inbox-message') ||
                  ($root.currentState | hasStateRestrict:'index.messages.sent-message')  ||
                  ($root.currentState | hasStateRestrict:'index.messages.star-message')  ||
                  ($root.currentState | hasStateRestrict:'index.messages.draft-message') ||
                  ($root.currentState | hasStateRestrict:'index.messages.label-message')"
           ng-bind="$root.siteTitle + ' - ' + $root.messageSubject"></title>
    <title ng-if="$root.currentState | hasStateRestrict:'index.messages.inbox'"
           ng-bind="$root.siteTitle + ' - Inbox'"></title>
    <title ng-if="$root.currentState | hasStateRestrict:'index.messages.compose'"
           ng-bind="$root.siteTitle + ' - Compose'"></title>
    <title ng-if="$root.currentState | hasStateRestrict:'index.messages.sent'"
           ng-bind="$root.siteTitle + ' - Sent'"></title>
    <title ng-if="$root.currentState | hasStateRestrict:'index.messages.started'"
           ng-bind="$root.siteTitle + ' - Star'"></title>
    <title ng-if="$root.currentState | hasStateRestrict:'index.messages.draft'"
           ng-bind="$root.siteTitle + ' - Draft'"></title>
    <title ng-if="$root.currentState | hasStateRestrict:'index.messages.label'"
           ng-bind="$root.siteTitle + ' - Label'"></title>
    <title ng-if="$root.currentState | hasState:'group'" ng-bind="$root.siteTitle + '- Groups'"></title>
    <link rel="apple-touch-icon" href="images/favicon.ico">
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="node_modules/sweetalert2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="node_modules/angucomplete-alt/angucomplete-alt.css">
    <link rel="stylesheet" href="node_modules/jquery-jcrop/css/jquery.Jcrop.min.css">
    <link rel="stylesheet" href="node_modules/angular-moment-picker/dist/angular-moment-picker.css">
    <link rel="stylesheet" href="node_modules/angularjs-slider/dist/rzslider.min.css">
    <link rel="stylesheet" href="node_modules/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="node_modules/jquery-confirm/dist/jquery-confirm.min.css">
    <link rel="stylesheet" href="node_modules/aos/dist/aos.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,700,800">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="css/pagination.css">
    <link rel="stylesheet" type="text/css" href="css/breadcrumb.css">
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/upload-image.css">
    <link rel="stylesheet" type="text/css" href="css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-multiselect.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-clockpicker.min.css">
    <!-- Lazyload css and JS -->
    <div id="ng_load_plugins_before"></div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124430060-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());  gtag('config', 'UA-124430060-3');
    </script>
</head>
<body>
<div ng-show="preloader">
    <div id="pageloader">
        <img class="img-size" src="images/sb-loading.gif">
        <div style="background:url(sb-loading.gif) no-repeat center center;width:32px;height:32px;"></div>
    </div>
</div>
<main>
    <div class="main-content" nice-scroll ui-view></div>
    <div class="alert alert-success alert-dismissible ecampus-alert"
         ng-if="displayNotice && ($root.currentState | hasState:'index')" style="z-index: 10;">
        <marquee onmouseenter="this.stop();" onmouseout="this.start();" scrollamount="15">
            <b style="font-size: 16px;" ng-bind="displayNotice"></b>
        </marquee>
    </div>
</main>
<a href="#0" class="cd-top">Top</a>
<!-- Core  -->
<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Plugins -->

<script type="text/javascript" src="http://52.88.51.213:3000/socket.io/socket.io.js"></script>
<script src='http://maps.googleapis.com/maps/api/js?v=3&libraries=places&key=AIzaSyComskyqRGqMITQVXNKhlZwvYkHmaHbK3E'></script>

<script type="text/javascript" src="node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="node_modules/moment/min/moment.min.js"></script>
<script type="text/javascript" src="node_modules/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
<script type="text/javascript" src="node_modules/jquery-jcrop/js/jquery.Jcrop.min.js"></script>
<script type="text/javascript" src="node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
<script type="text/javascript" src="node_modules/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

<script type="text/javascript" src="js/modernizr.js"></script>
<script type="text/javascript" src="js/modernizr.custom.js"></script>
<script type="text/javascript" src="js/classie.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="js/modernizr.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/back-to-top.js"></script>
<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="js/bootstrap-clockpicker.min.js"></script>
<script type="text/javascript" src="js/locationpicker.jquery.min.js"></script>

<script type="text/javascript" src="bower_components/remarkable-bootstrap-notify/bootstrap-notify.js"></script>

<!-- Angular plugins files -->
<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="node_modules/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript"
        src="node_modules/angular-nicescroll/demo/app/bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="node_modules/angular-nicescroll/angular-nicescroll.js"></script>
<script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="node_modules/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="node_modules/angular-filter/dist/angular-filter.min.js"></script>
<script type="text/javascript" src="node_modules/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="node_modules/angular-moment/angular-moment.min.js"></script>
<script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="node_modules/ng-jcrop/ng-jcrop.js"></script>
<script type="text/javascript" src="node_modules/oclazyload/dist/ocLazyLoad.min.js"></script>
<script type="text/javascript" src="node_modules/pdfjs-dist/build/pdf.min.js"></script>
<script type="text/javascript" src="node_modules/sticky-sidebar/dist/sticky-sidebar.min.js"></script>
<script type="text/javascript" src="node_modules/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="bower_components/ng-bootstrap-select/build/ng-bootstrap-select.min.js"></script>
<script type="text/javascript" src="node_modules/angular-ui-tinymce/src/tinymce.js"></script>
<script type="text/javascript" src="node_modules/jspdf/dist/jspdf.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript"
        src="bower_components/angular-daterangepicker/js/angular-daterangepicker.min.js"></script>
<script type="text/javascript" src="bower_components/moment/min/moment-with-locales.min.js"></script>
<script type="text/javascript" src="node_modules/angular-moment-picker/dist/angular-moment-picker.min.js"></script>
<script type="text/javascript" src="node_modules/jquery-confirm/dist/jquery-confirm.min.js"></script>

<script type="text/javascript" src="node_modules/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
<script type="text/javascript" src="node_modules/angularjs-slider/dist/rzslider.min.js"></script>
<script type="text/javascript" src="node_modules/aos/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<!-- Angular custom files -->
<script type="text/javascript" src="angular/ng-app/app.base_url.js"></script>
<script type="text/javascript" src="angular/ng-services/api.services.js"></script>
<script type="text/javascript" src="angular/ng-services/storage-services.js"></script>
<script type="text/javascript" src="angular/ng-services/auth-token-interceptor.js"></script>
<script type="text/javascript" src="angular/ng-services/app.services.js"></script>
<script type="text/javascript" src="angular/ng-services/app.user-types-service.js"></script>
<script type="text/javascript" src="angular/ng-services/local-storage-services.js"></script>

<script type="text/javascript" src="angular/ng-app/app.module.js"></script>
<script type="text/javascript" src="angular/ng-directives/app.directives.js"></script>
<script type="text/javascript" src="angular/ng-filters/app.filters.js"></script>
<script type="text/javascript" src="angular/ng-controllers/app.messageController.js"></script>
</body>
</html>
